In [1]:
import mysql.connector as mysql
db = mysql.connect(
    host = "localhost", user = "root",password="",


)
print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000018B168F2160>

In [2]:
db.close()

In [3]:
def connect(host="localhost", user="root", password="",db_name=""):
    if db_name != "":
        db = mysql.connect(
        host=host, user=user, password=password,database=db_name
        )
        return db
    else:
        db = mysql.connect(
        host=host, user=user, password=password,
        )
        return db

In [4]:
connect()

In [5]:
def create_database(db_name):
    try:
        db = connect()
        cursor = db.cursor()
        query = "CREATE DATABASE "+ db_name
        cursor.execute(query)
        cursor.close()
        db.close()
    except Exception as e:
        print(e)

In [6]:
create_database("employee")

1007 (HY000): Can't create database 'employee'; database exists

In [7]:
def create_table(db_name,table_name):
    try:
        db = connect(db_name=db_name)
        cursor = db.cursor()
        query = "CREATE TABLE "+ table_name+"(id integer primary key auto_increment,name varchar(255),dept varchar(255))"
        cursor.execute(query)
        cursor.close()
        db.close()
    except Exception as e:
        print(e)

In [8]:
create_table("employee","emp_info")

1050 (42S01): Table 'emp_info' already exists

In [13]:
#data insert

def insert_data(db_name, table_name, name, dept):
    try:
        db = connect(db_name=db_name)
        cursor = db.cursor()
        query = "INSERT INTO "+ table_name +"(id , name, dept) VALUES(0, %s, %s)"
        values = (name, dept)
        cursor.execute(query, values)
        db.commit()
        cursor.close()
        db.close()
    except Exception as e:
        print(e)

In [17]:
#data fetch

def fetch_data(db_name,table_name):
    try:
        db = connect(db_name=db_name)
        cursor = db.cursor()
        query = "SELECT * FROM "+ table_name
        cursor.execute(query)
        res = cursor.fetchall()
        for i in res:
            print(i)
        cursor.close()
        db.close()
    except Exception as e:
        print(e)

In [18]:
insert_data("employee","emp_info","Monoronjon","CSE")
fetch_data("employee","emp_info")

(1, 'Monoronjon', 'CSE')
(2, 'Ariful Islam', 'CSE')
(3, 'Monoronjon', 'CSE')

In [16]:
insert_data("employee","emp_info","Ariful Islam","CSE")
fetch_data("employee","emp_info")

(1, 'Monoronjon', 'CSE')
(2, 'Ariful Islam', 'CSE')